---
export interface Props {
  title: string;
  body: string[];
  href: string;
  src: string;
  icons: string[];
}

const { href, title, body, src, icons } = Astro.props;
---

<li class="picture-card">
  <a href={href} target="_blank">
    <div class="background">
    <div class="foreground">
    <h2>
      {title}
    </h2>
    <img src={src} />
    <ul class="description">
      {
        body.map((bulletpoint) => (
          <li class="bulletpoint">
            {bulletpoint}
          </li>
        ))
      }
    </ul>
    <ul class="icons-grid">
      {
        icons.map((icon) => (
          <li class="icon-item">
            <img class="svg" src={`/${icon}.svg`} alt={icon} />
          </li>
        ))
      }
    </ul>
  </div></div>
  </a>
</li>
<style>
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  .picture-card {
    margin-top: 1vh;
    list-style: none;
    display: flex;
  }
 .background {
    display:flex;
    width:100%;
    padding: 0.25rem;
    background-color: var(--accent-color);
    background-image: none;
    background-size: 400%;
    border-radius: 0.6rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px var(--card-shadow),
      0 2px 4px -2px var(--card-shadow);
  }
  .foreground {
    width:100%;
    line-height: 1.4;
    padding: 0.5vw;
    border-radius: 0.6rem;
    color: var(--text-color);
    background-color: var(--card-color);
    opacity: 0.8;
  } 
  h2 {
    text-decoration: none;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .description {
    padding:1rem;
    margin-left:.5rem;
  }
  .bulletpoint {
    margin-bottom:1rem;
  }
  .icons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0;
  }
  .icon-item {
    list-style: none;
    height: auto;
  }
  .background:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--hover-accent-gradient);
  }
  .background:is(:hover, :focus-within) h2 {
    color: var(--hover-accent);
  }
</style>
