---
export interface Props {
  title: string;
  body: string;
  bullets: string[];
  src: string;
  icons: string[];
  links: { [key: string]: string };
}

const { links, title, body, src, icons, bullets } = Astro.props;

// import {Image} from "@astrojs/image/components"
---

<li class="project-card">
  <div class="container">
    <h2>
      {title}
    </h2>
    <div class="image-container">
      <video autoplay loop muted playsinline>
        <source src={src} type="video/mp4"/>
        <track kind="captions" src="empty.vtt" label="No captions" srclang="en" />
      </video>
      <!-- <img src={src} alt={title} /> -->
      <!-- <Image src={src} alt={title} width={100} height={100} format="png"/> -->
    </div>
    <div class="link-container">
      <a href={links.link1} target="_blank" class="link1"
        >{links.link1Name} &nbsp;<svg
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 310.62 311.59"
      >
        <path
          d="M193.63,214.35c-2.8,4.48-6.16,8.4-9.52,12.32l-63.28,63.28c-29.06,29.05-73.07,28.29-100.24,1.12-27.84-27.84-27.43-71.7,1.12-100.24l63.28-63.28c32.6-32.62,89.97-26.65,112,17.36,1.12,2.24,.56,4.48-1.12,6.16-7.42,7.42-15.66,11.29-25.76,8.4-2.24-.56-4.48-2.24-6.16-3.92-11.41-17.11-38.7-21.22-55.44-4.48l-63.84,63.28c-14.84,14.84-16.57,37.2-1.12,52.63,15.07,15.07,38.46,14.34,52.64-1.11l53.76-53.77c14.46,4.52,30.16,4.96,43.68,2.25h0ZM290.51,20.59c-27.84-27.84-71.7-27.43-100.24,1.12l-63.84,63.28c-3.92,3.92-6.72,7.84-9.52,12.32,16.21-3.24,29.18-1.48,43.12,2.24l53.77-53.76c14.98-14.99,37.32-16.45,52.63-1.12,15.07,15.07,14.34,38.46-1.11,52.64l-63.29,63.28c-17.27,17.29-44.21,11.82-55.43-5.04-1.68-2.24-3.36-3.36-6.16-3.92-10.07-2.88-18.32,.96-25.76,8.4-1.68,1.68-2.24,4.48-1.12,6.16,18.86,37.71,69.09,54.11,112,17.37l63.28-63.28c25.71-25.71,31.58-68.63,1.68-99.69h0Z"
        ></path>
      </svg></a
      >
      <a href={links.link2} class="link2" target="_blank"
        >
        {links.link2Name} &nbsp;<svg
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 310.62 311.59"
      >
        <path
          d="M193.63,214.35c-2.8,4.48-6.16,8.4-9.52,12.32l-63.28,63.28c-29.06,29.05-73.07,28.29-100.24,1.12-27.84-27.84-27.43-71.7,1.12-100.24l63.28-63.28c32.6-32.62,89.97-26.65,112,17.36,1.12,2.24,.56,4.48-1.12,6.16-7.42,7.42-15.66,11.29-25.76,8.4-2.24-.56-4.48-2.24-6.16-3.92-11.41-17.11-38.7-21.22-55.44-4.48l-63.84,63.28c-14.84,14.84-16.57,37.2-1.12,52.63,15.07,15.07,38.46,14.34,52.64-1.11l53.76-53.77c14.46,4.52,30.16,4.96,43.68,2.25h0ZM290.51,20.59c-27.84-27.84-71.7-27.43-100.24,1.12l-63.84,63.28c-3.92,3.92-6.72,7.84-9.52,12.32,16.21-3.24,29.18-1.48,43.12,2.24l53.77-53.76c14.98-14.99,37.32-16.45,52.63-1.12,15.07,15.07,14.34,38.46-1.11,52.64l-63.29,63.28c-17.27,17.29-44.21,11.82-55.43-5.04-1.68-2.24-3.36-3.36-6.16-3.92-10.07-2.88-18.32,.96-25.76,8.4-1.68,1.68-2.24,4.48-1.12,6.16,18.86,37.71,69.09,54.11,112,17.37l63.28-63.28c25.71-25.71,31.58-68.63,1.68-99.69h0Z"
        ></path>
      </svg>
      </a>
    </div>
    <p class="description">{body}</p>
    <ul class="bulletpoints">
      {bullets.map((bulletpoint) => <li class="bulletpoint">{bulletpoint}</li>)}
    </ul>
    <ul class="icons-grid">
      {
        icons.map((icon) => (
          <li class="icon-item">
            <img class="svg" src={`/${icon}.svg`} alt={icon} width="100" height="100" />
          </li>
        ))
      }
    </ul>
  </div>
</li>
<style>
  .image-container {
    display: flex;
    justify-content: center;
  }
  video {
    width: 95%;
    border-radius: 0.6rem;
  }
  img {
    width: 95%;
    border-radius: 0.6rem;
  }
  .project-card {
    list-style: none;
    padding-bottom: 1rem;
    display: flex;
  }
  svg {
    width: 1rem;
    height: 1rem;
  }
  .link-container {
    text-align: center;
  }
  .link1 {
    padding-right: 1rem;
    text-decoration: none;
    font-size: x-large;
    color: rgb(29, 64, 240);
  }
  .link2 {
    text-decoration: none;
    font-size: x-large;
    color: rgb(29, 64, 240);
  }
  @media (prefers-color-scheme: dark){
    .link1 {
      color: rgb(118, 153, 241)
    }
    .link2 {
      color: rgb(118, 153, 241)
    }
  }
  .link1:is(:hover) {
    color: rgb(6, 0, 181);
  }
  .link1:hover svg path {
    fill: rgb(6, 0, 181);
  }
  .link2:is(:hover) {
    color: rgb(6, 0, 181);
  }
  .link2:hover svg path {
    fill: rgb(6, 0, 181);
  }
  .container {
    width: 100%;
    line-height: 1.4;
    padding: 0.5rem;
    border-radius: 0.6rem;
    color: var(--text-color);
    background-color: var(--card-color);
    font-size: x-large;
  }
  h2 {
    text-align: center;
    margin-top: 0;
    font-size: 1.25rem;
  }
  .description {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .bulletpoints {
    padding: 1rem;
    margin-left: 0.5rem;
  }
  .bulletpoint {
    margin-bottom: 1rem;
  }
  .icons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0;
  }
  .icon-item {
    list-style: none;
    height: auto;
  }

  
</style>
