---
import "@assets/styles/posts.css";
import { getCollection } from "astro:content";
import Layout from "@layouts/PageLayout.astro";
import "@assets/styles/remark-callout-directives.css";
import ThemeButton from "@components/ThemeButton.astro";
import PostHeader from "@components/PostHeader.astro";
export const getStaticPaths = async () => {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
};
const { post } = Astro.props;
const {
	data: { title, description, date },
} = post;
const { Content, remarkPluginFrontmatter, headings } = await post.render();
const { lastModified, minutesRead } = remarkPluginFrontmatter;

import TOC from "@components/TOC.astro";
---

<Layout {title} {description} {post}>
	<header>
		<div class="flex items-center justify-between">
			<div class="flex items-center">
				<ThemeButton />
				<nav><a href="/">Homepage</a> <a href="/garden/">Garden</a></nav>
			</div>
		</div>
	</header>
	<script>
		import { VisibleOnScrollUp } from "../../webComponents/visibleOnScrollUp";
		import { FlyoutMenu } from "../../webComponents/mobileMenu";

		customElements.define("flyout-menu", FlyoutMenu);
		customElements.define("visible-on-scroll-up", VisibleOnScrollUp);
		const el = document.createElement("visible-on-scroll-up");
		document.body.appendChild(el);

		let shouldAdd = true;
		document.addEventListener("astro:before-swap", (e) => {
			e.to.pathname.startsWith("/garden/") && e.to.pathname.length > "/garden/".length
				? (shouldAdd = true)
				: (shouldAdd = false);
		});
		window.addEventListener("scroll", () => {
			if (shouldAdd) {
				const el = document.createElement("visible-on-scroll-up");
				document.body.appendChild(el);
				shouldAdd = false;
			}
		});
	</script>
	<article class="mx-auto mt-2 flex max-w-[34rem] flex-col sm:mt-0">
		<PostHeader {title} {lastModified} {date} {minutesRead} />
		<TOC {headings} />
		<Content />
	</article>
	<style>
		:root[data-theme="light"] {
			--background-color: #f2f3f5;
			--text-color: #09090b;
			--accent-color: #2f3a91;
		}

		:root[data-theme="dark"] {
			--background-color: #323232;
			--text-color: #ecf1f9;
			--accent-color: #acbef9;
		}
	</style>
</Layout>
