---
import Layout from "@layouts/PageLayout.astro";
import ThemeButton from "@components/ThemeButton.astro";
import Preview from "@components/Preview.astro";

const title = "Digital Garden";
const description = "the plot";
---

<Layout {title} {description}>
	<div class="mx-2 flex items-center gap-1 pt-2">
		<ThemeButton iconSize="2rem" />
		<nav><a href="/">Homepage</a></nav>
	</div>
	<div class="mx-2 -mt-2 flex flex-col items-center justify-center">
		<h1 class="mx-auto">Digital Garden</h1>
		<div class="mb-2 flex max-w-3xl flex-col justify-evenly gap-2 sm:flex-row" id="main-content">
			<section class="sm:order-2">
				<h2>Recent</h2>
				<div class="flex flex-col gap-2 sm:max-w-[16rem]">
					<Preview entry="designs" />
					<Preview
						href="/garden/nodemailer/"
						entry="nodemailer"
						title="Serverless Nodemailer"
						description="Serverless function to send emails via SMTP on static sites, zero js needed"
					/>
					<Preview entry="a11y" />
					<Preview entry="theorycrafting" />
				</div>
			</section>
			<section class="sm:order-1">
				<h2>Pinned</h2>
				<div class="flex flex-col gap-2 sm:max-w-[16rem]">
					<Preview entry="aboutme" dated={false} description={false} readingTime=" " />
					<Preview entry="futureprojects" dated={false} readingTime=" " />
					<Preview entry="toolsiuse" dated={false} readingTime=" " />
					<Preview entry="causes" dated={false} readingTime=" " />
				</div>
			</section>
			<section class="sm:order-3">
				<h2>Older</h2>
				<div class="flex flex-col gap-2 sm:max-w-[16rem]">
					<Preview
						entry="fastapi-with-supabase"
						description="A trick I found for using the supabase-py library with FastAPI"
					/>
					<Preview
						entry="nextauth-with-drf"
						description="A pretty detailed guide to using NextAuth with Django REST Framework"
					/>
					<Preview
						href="/garden/projects/"
						title="School projects"
						date="Feb, 2023"
						description="A remnant from version 1 of this website, detailing my school prorjects"
					/>
				</div>
			</section>
		</div>
	</div>
</Layout>
<style>
	h2 {
		font-size: 1.5rem;
	}
</style>
